.text {
    margin: 5px 0px 15px 100px;
    padding: 0 0 0 6px;
    font-size: 20px;
    line-height: 15px;
    overflow: hidden;
    /*border: 1px solid black;*/
}
.item{
    /*margin: 5px 0px 15px 100px;*/
    padding: 0 0 0 6px;
    font-size: 20px;
    line-height: 15px;
    overflow: hidden;

}
.picture{
    float: left;
}
body, html {
    background-color: #e7e7e7;
    margin:0px;
    padding:0px;
    height:100%;
    text-align:center;
}



#container {
    margin:0 auto;
    text-align:left;
    width:1037px;
    background-color: #F3FAFF;
    border:1px solid #999999;
}


#header {
    background-image: url("/images/logo1.jpg");
    width: 1037px;
    height: 35%;
}

#content {
    height:70%;
    margin:0px;
    margin-left:15%;

    border: 1px solid #999999;
}
#left {
    height:70%;
    width: 15%;
    float:left;
    border: 1px solid #999999;
}

#clear {
    height:0;
    font-size:1px;
    line-height:0px;
    clear:both;

}

#footer {
    background-color:#C5AC2E;
    width:1036px;
    height:3%;
    padding-top:0px;
    text-align: center;
    border: 1px solid #999999;

}





